.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --header-color: #212121;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  font-family: Roboto;
}

/* -------------------------Header----------------------- */

.header {
  background-color: white;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--header-color);
}

.logo-color {
  color: var(--logo-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.link-tel,
.link-mail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.link-tel:hover,
.link-mail:hover {
  color: var(--accent-color);
}

.link-mail {
}

.link-tel {
}

.under-header {
  background-color: #2f303a;
}

.under-header-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.under-header-btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--first-title-color);
}

.under-header-btn:hover {
  background-color: #188ce8;
}

.section-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}

.section-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.activity-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/*--------------------FOOTER-----------------------*/

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.footer {
  color: var(--second-title-color);
}

.link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--first-title-color);
}

.footer-link-tel,
.footer-link-mail {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-link-tel:hover,
.footer-link-mail:hover {
  color: var(--accent-color);
}

/*----------------------------PORTFOLIO----------------------------------*/

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}

.portfolio-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-btn:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
