.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----Header----- */

.header {
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.header-link:hover {
  color: #2196f3;
}

.link:focus {
}

.link-tel,
.link-mail {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.under-header {
  background-color: #2f303a;
  width: 1600;
  height: 600;
}

.under-header-h1 {
  color: #ffffff;
}

.under-header-btn {
  background-color: #2196f3;
  color: #ffffff;
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer {
  background-color: #2f303a;
}

.footer .link {
  color: #ffffff;
}

.footer .link-tel:hover {
  color: #2196f3;
}

.footer .link-mail:hover {
  color: #2196f3;
}
